/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/base/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*

*.bat
*.sh
CHANGELOG
LICENSE.txt

!/src/common/com/
!/src/common/com/vbitz/
!/src/minecraft/com/
!/src/minecraft_server/com/
!/src/common/mcmod.info
!/src/common/SP.png